<div class = "mv">
  <div class = "container">
    <h1 class = "mv-title">Lorem Ipsum</h1>
    <div class = "mv-text">simply dummy text of the printing</div>
  </div>
</div>
<div class = "portfolio">
  <div class = "container">
    <h2 class = "portfolio-title">Portfolio</h2>
    <div class = "portfolio-text">
      It is a long established fact that a reader will be distracted by the readable<br>
      content of a page when looking at its layout.<br>
      The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters<br>
    </div>
    <div class = "portfolio-image">
      <div class ="portfolio-images image1"></div>
      <div class ="portfolio-images image2"></div>
      <div class ="portfolio-images image3"></div>
      <div class ="portfolio-images image4"></div>
      <div class ="portfolio-images image5"></div>
      <div class ="portfolio-images image6"></div>
    </div>
  </div>
</div>
    <div class = "feature">
      <div class = "container">
        <h2 class = "feature-title">Feature</h2>
        <div class = "feature-text">
          It is a long established fact that a reader will be distracted by the readable<br>
          content of a page when looking at its layout.<br>
          The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters<br>
        </div>
        <div class = "strength-group">
          <div class = "strength">
            <div class = "strength1-image"></div>
            <h3 class = "strength-title">Strength1</h3>
            <div class = "strength-text">
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
            </div>
          </div>
          <div class = "strength">
            <div class = "strength-image"></div>
            <h3 class = "strength-title">Strength2</h3>
            <div class = "strength-text">
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
            </div>
          </div>
          <div class = "strength">
            <div class = "strength-image"></div>
            <h3 class = "strength-title">Strength3</h3>
            <div class = "strength-text">
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class = "profile">
      <div class = "container">
        <h2 class = "profile-title">Profile</h2>
        <div class = "profile-text">
          It is a long established fact that a reader will be distracted by the readable<br>
          content of a page when looking at its layout.<br>
          The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters<br>
        </div>
        <div class = "profile-group">
          <div class = "left-content">
            <div class = myface></div>
          </div>
          <div class = "right-content">
            <h3 class = "description-title">MyName</h3>
            <p class = "description-text">
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur
            </p>
            <h3 class = "description-title">MySkills</h3>
            <p class = "description-text">HTML/CSS,JavaScript,JQuery,PhotoShop</p>
          </div>
        </div>
      </div>
    </div>
    <div class = "contact">
      <div class = "container">
        <h2 class = "contact-title">Contact</h2>
        <div class = "contact-text">
          It is a long established fact that a reader will be distracted by the readable<br>
          content of a page when looking at its layout.<br>
          The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters<br>
        </div>
        <div class = "contact-group">
          <div class = "left-content">
            <h3 class = "description-title">Mail</h3>
            <p class = "description-text">xxx@xxxx.com</p>
            <h3 class = "description-title">Tel</h3>
            <p class = "description-text">000-0000-0000</p>
          </div>
          <div class = "right-content">
            <h3 class = "description-title">SNS</h3>
          </div>
        </div>
        </div>
      </div>
    </div>