/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
header{
  width:100%;
  height:70px;
  background-color:#EC715F;
}

.container{
  width:1024px;
  margin:auto;
}

.header-group{
  display: flex;
  height:70px;
}

.logo{
  height:70px;
}

.nav-list{
  font-size:16px;
  color: #FAFAFA;
  padding:0 30px;
  width:120px;
  line-height:70px;
  list-style:none;
}

.nav{
  display: flex;
  text-align:center;
}

.mv{
  background-image:url(img/mv.png);
  width:100%;
  height:650px;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.container{
  width:1024px;
  margin:0 auto;
}

.mv-title{
  color: #FAFAFA;
  font-size:64px;
  padding-top:200px;
}

.mv-text{
  color: #FAFAFA;
  font-size:20px;
  padding-top:10px;
}